{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block contents %}
{% load static %}
<!-- Page Header-->
<header class="masthead" style="background-image: url({{ post.head_image.url }})">
<div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="post-heading">
                <h1>{{ post.title }}</h1>
                <span class="meta">
                    Posted by
                    <a href="#!">Start Bootstrap</a>
                    on August 24, 2023
                </span>
            </div>
        </div>
    </div>
</div>
</header>
<!-- Post Content-->
<article class="mb-4">
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <a class="btn btn-info btn-sm float-right" href="{% url 'blog:post_update' post.pk %}" roll="button"><i class="fas fa-pen"></i>&nbsp;&nbsp;Edit Post</a>
            <p>{{ post.content }}</p>
            <p>
                Placeholder text by
                <a href="http://spaceipsum.com/">Space Ipsum</a>
                &middot; Images by
                <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>
                views: {{ post.views }}
            </p>
            <a class="btn btn-danger btn-sm float-right" href="{% url 'blog:post_delete' post.pk %}" roll="button">Delete Post</a>

        </div>
    </div>
</div>
</article>
<!-- Comments Section-->
<div id="comment-area">
    <!-- Comments Form -->
    <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
            {% if user.is_authenticated %}
                <form id="comment-form" method="POST" action="{{ post.get_absolute_url }}new_comment/">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ comment_form | crispy }}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            {% else %}
                <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="#" data-toggle="modal" data-target="#loginModal">Log in and leave a comment</a>
            {% endif %}
        </div>
    </div>

    {% if post.comment_set.exists %}
        {% for comment in post.comment_set.iterator %}
            <!-- Single Comment -->
            <div class="media mb-4" id="comment-{{ comment.pk }}">
                <img class="d-flex mr-3 rounded-circle" src="{{ comment.get_avatar_url }}" alt="{{ comment.author }}" width="60px">
                <div class="media-body">
                    <h5 class="mt-0">
                        {{ comment.author.username }}
                        &nbsp;&nbsp;<small class="text-muted">{{ comment.created_at }}</small>
                    </h5>
                    <p>{{ comment.content | linebreaks }}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
</hr>

{% endblock %}